flasgger==0.9.5
Flask==2.2.2
#git2pantheon~=0.1
Werkzeug==1.0.1
redis==3.5.3
setuptools==54.2.0
flask-cors==3.0.10

marshmallow==3.10.0
Flask-Executor==0.9.4
giturlparse==0.10.0
PyYAML==5.4.1
edgegrid-python==1.0.10
decorest==0.0.6
requests
requests-toolbelt==0.9.1
gitpython==3.1.11
git+https://github.com/redhataccess/pantheon-uploader.git
