flasgger==0.9.7.1
Flask>=2.2.2
#git2pantheon~=0.1
redis>=4.4.2
setuptools==66.0.0
Flask-Cors==3.0.10
marshmallow>=3.19.1
Flask-Executor==1.0.0
giturlparse==0.10.0
PyYAML==6.0
edgegrid-python==1.3.1
decorest==0.1.0
requests>=2.28.3
requests-toolbelt==0.10.1
gitpython>=3.1.30
gunicorn==20.1.0
jinja2==3.1.2
typing-extensions>=4.4.0
contextvars>=2.4
git+https://github.com/redhataccess/pantheon-uploader.git